<!DOCTYPE html>
	<html lang="en">
	  <head>
	    <meta charset="UTF-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width" />
	    <title>Mercado Liebre</title>
	    <link rel="shortcut icon" type="image/x-icon" href="./img/mercadoLibreIcon.ico"/>
	    <link href="./css/normalize.css" rel="stylesheet" />
	    <link href="./css/styles.css" rel="stylesheet" />
	    <script src="https://kit.fontawesome.com/143040bb16.js" crossorigin="anonymous"></script>
	  </head>
	  <body>
	    <header>
	      <section class="navbar-top">
	        <div class="conten-logo">
	          <a href="/">
	            <img class="bar-logo" src="./img/logo-mercado-liebre.svg" alt="logo"/>
	          </a>
	        </div>
	        <div class="navbar-searchArea">
	          <form class="searchBar">
	            <input type="text" placeholder="Buscar productos, marcas y mas..."/>
	          </form>
	          <i class="fa-solid fa-magnifying-glass"></i>
	        </div>
	        <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
	      </section>
	      <section class="navbar-bottom">
	        <nav>
	          <ul>
	            <div>
	              <li><a href="#" class="navItem">Ofertas</a></li>
	              <li><a href="#" class="navItem">Tiendas Oficiales</a></li>
	              <li><a href="#" class="navItem">Vender</a></li>
	              <li><a href="#" class="navItem">Ayuda</a></li>
	            </div>
	            <div>
	              <li>
	                <a href="/register" class="navItem"
	                  >Creá tu cuenta <i class="fa-solid fa-id-card"></i
	                ></a>
	              </li>
	              <li>
	                <a href="/login" , class="navItem"
	                  >Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i
	                ></a>
	              </li>
	              <li>
	                <a href="#" class="navItem"
	                  >Mis compras<i class="fa-solid fa-basket-shopping"></i>
	                </a>
	              </li>
	            </div>
	          </ul>
	        </nav>
	      </section>
	      <div class="burger-menu">
	        <i class="fas fa-bars"></i>
	      </div>
	    </header>
	    <!-- Header fin -->
	    <!-- Main inicio -->
	    <main>
	      <section class="section-banner">
	        <img src="./img/img-home-banner.jpg" alt="banner" />
	      </section>
	      <section>
	        <h2 class="title">
	          Basado en tu última vista <span class="ver-mas">Ver mas</span>
	        </h2>
	        <div class="articulos">
	          <!--Prdct 1-->
	          <article class="prdc">
	            <img src="./img/img-cafetera-moulinex.jpg" alt="cafetera" />
	            <div class="prdc-datos">
	              <div class="prdc-icon">
	                <i class="fa-solid fa-truck"></i>
	              </div>
	              <h3 class="prdc-precio">$6.770</h3>
	              <h3 class="prdc-descuento">40% OFF</h3>
	              <p class="prdc-desc">Cafetera Moulinex</p>
	            </div>
	          </article>
	          <!--Prdct 2-->
	          <article class="prdc">
	            <img src="./img/img-macbook-pro-2019.jpg" alt="macbook" />
	            <div class="prdc-datos">
	              <div class="prdc-icon">
	                <i class="fa-solid fa-truck"></i>
	              </div>
	              <h3 class="prdc-precio">$230.000</h3>
	              <h3 class="prdc-descuento">20% OFF</h3>
	              <p class="prdc-desc">MacBook Pro 2019</p>
	            </div>
	          </article>
	          <!--Prdct 3-->
	          <article class="prdc">
	            <img src="./img/img-samsung-galaxy-s10.jpg" alt="mobil" />
	            <div class="prdc-datos">
	              <div class="prdc-icon">
	                <i class="fa-solid fa-truck"></i>
	              </div>
	              <h3 class="prdc-precio">$70.500</h3>
	              <h3 class="prdc-descuento">10% OFF</h3>
	              <p class="prdc-desc">Samsung Galaxy S10</p>
	            </div>
	          </article>
	          <!--Prdct 4-->
	          <article class="prdc">
	            <img src="./img/img-tv-samsung-smart.jpg" alt="tv" />
	            <div class="prdc-datos">
	              <div class="prdc-icon">
	                <i class="fa-solid fa-truck"></i>
	              </div>
	              <h3 class="prdc-precio">$23.200</h3>
	              <h3 class="prdc-descuento">5% OFF</h3>
	              <p class="prdc-desc">SmartTv Samsung 43"</p>
	            </div>
	          </article>
	        </div>
	      </section>
	      <section>
	        <h2 class="title">
	          Sección de Ofertas <span class="ver-mas">Ver mas</span>
	        </h2>
	        <div class="articulos">
	          <!--Prdct 1-->
	          <article class="prdc">
	            <img src="./img/img-cafetera-moulinex.jpg" alt="cafetera" />
	            <div class="prdc-datos">
	              <div class="prdc-icon">
	                <i class="fa-solid fa-truck"></i>
	              </div>
	              <h3 class="prdc-precio">$6.770</h3>
	              <h3 class="prdc-descuento">40% OFF</h3>
	              <p class="prdc-desc">Cafetera Moulinex</p>
	            </div>
	          </article>
	          <!--Prdct 2-->
	          <article class="prdc">
	            <img src="./img/img-macbook-pro-2019.jpg" alt="macbook" />
	            <div class="prdc-datos">
	              <div class="prdc-icon">
	                <i class="fa-solid fa-truck"></i>
	              </div>
	              <h3 class="prdc-precio">$230.000</h3>
	              <h3 class="prdc-descuento">20% OFF</h3>
	              <p class="prdc-desc">MacBook Pro 2019</p>
	            </div>
	          </article>
	          <!--Prdct 3-->
	          <article class="prdc">
	            <img src="./img/img-samsung-galaxy-s10.jpg" alt="mobil" />
	            <div class="prdc-datos">
	              <div class="prdc-icon">
	                <i class="fa-solid fa-truck"></i>
	              </div>
	              <h3 class="prdc-precio">$70.500</h3>
                  <h3 class="prdc-descuento">10% OFF</h3>
	              <p class="prdc-desc">Samsung Galaxy S10</p>
	            </div>
	          </article>
	          <!--Prdct 4-->
	          <article class="prdc">
	            <img src="./img/img-tv-samsung-smart.jpg" alt="tv" />
	            <div class="prdc-datos">
	              <div class="prdc-icon">
	                <i class="fa-solid fa-truck"></i>
	              </div>
	              <h3 class="prdc-precio">$23.200</h3>
	              <h3 class="prdc-descuento">5% OFF</h3>
	              <p class="prdc-desc">SmartTv Samsung 43"</p>
	            </div>
	          </article>
	        </div>
	      </section>
	    </main>
	    <!-- Main fin -->
	    <!-- Footer inicio -->
	    <footer>
	      <section class="footerContent">
	        <div class="footerItem">
	          <i class="fa-solid fa-credit-card icon"></i>
	          <h3>Pagá con tarjeta o en efectivo</h3>
	          <p class="footerItem-desc">
	            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
	            efectivo en puntos de pago. ¡Y siempre es seguro!
	          </p>
	        </div>
	        <div class="footerItem">
	          <i class="fa-solid fa-gift icon"></i>
	          <h3>Envío gratis desde $ 2.500</h3>
	          <p class="footerItem-desc">
	            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
	            miles de productos. Es un beneficio de Mercado Puntos.
	          </p>
	        </div>
	        <div class="footerItem">
	          <i class="fa-solid fa-user-shield icon"></i>
	          <h3>Seguridad, de principio a fin</h3>
	          <p class="footerItem-desc">
	            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
	            puedas hacer, porque estás siempre protegid@.
	          </p>
	        </div>
	      </section>
	      <h3 class="footerItem-desc">
	        Copyright © 1999-2020 MercadoLiebre S.R.L.
	      </h3>
	    </footer>
	    <!-- Footer fin -->
	  </body>
	</html>