<!DOCTYPE html>
	<html lang="en">
	  <head>
	    <meta charset="UTF-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width" />
	    <title>Registrarse</title>
	    <link rel="shortcut icon" type="image/x-icon" href="./img/mercadoLibreIcon.ico"/>
	    <link href="./css/normalize.css" rel="stylesheet" />
	    <link href="./css/styles.css" rel="stylesheet" />
	    <link href="./css/forms.css" rel="stylesheet" />
	    <script src="https://kit.fontawesome.com/143040bb16.js" crossorigin="anonymous"></script>
	  </head>
	  <body>
	    <!-- Header -->
	    <header>
	      <section class="navbar-top">
	        <div class="conten-logo">
	          <a href="/">
	            <img class="navbar-logo" src="./img/logo-mercado-liebre.svg" alt="logo"/>
	          </a>
	        </div>
	        <div class="navbar-searchArea">
	          <form class="searchBar">
	            <input type="text" placeholder="Buscar productos, marcas y mas..."/>
	          </form>
	          <i class="fa-solid fa-magnifying-glass"></i>
	        </div>
	        <p>
	          <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
	        </p>
	      </section>
	      <section class="navbar-bottom">
	        <nav>
	          <ul>
	            <div>
	              <li><a href="#" class="navItem">Ofertas</a></li>
	              <li><a href="#" class="navItem">Tiendas Oficiales</a></li>
	              <li><a href="#" class="navItem">Vender</a></li>
	              <li><a href="#" class="navItem">Ayuda</a></li>
	            </div>
	            <div>
	              <li>
	                <a href="/register" class="navItem"
	                  >Creá tu cuenta <i class="fa-solid fa-id-card"></i
	                ></a>
	              </li>
	              <li>
	                <a href="/login" , class="navItem"
	                  >Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i
	                ></a>
	              </li>
	              <li>
	                <a href="#" class="navItem"
	                  >Mis compras<i class="fa-solid fa-basket-shopping"></i>
	                </a>
	              </li>
	            </div>
	          </ul>
	        </nav>
	      </section>
	      <div class="burger-menu">
	        <i class="fas fa-bars"></i>
	      </div>
	    </header>
	    <main>
	      <!-- Form -->
	      <section class="form-wrapper">
	        <form class="form-config" action="">
	          <h3>Registra tu cuenta</h3>
	          <input
	            type="text" name="name" placeholder="Ingresa tu nombre y apellido" required/>
	          <input type="text" name="user" placeholder="Ingresa tu nombre de usuario" required/>
	          <div class="feedback">
	            <p>
	              <i class="fa-solid fa-triangle-exclamation"></i>El nombre de usuario ya existe.
	            </p>
	          </div>
	          <label for="date" class="label-title">Fecha de nacimiento</label>
	          <input type="date" name="date" id="date" required />
	          <label class="label-title">Perfil de usuario</label>
	          <div class="form-section-row">
	            <label class="label-subtitle" for="comprador">Comprador</label>
	            <input type="radio" name="profile" id="comprador" value="comprador"/>
	            <label class="label-subtitle" for="vendedor" value="vendedor"
	              >Vendedor</label
	            >
	            <input type="radio" name="profile" id="vendedor" />
	          </div>
	          <label class="label-title">Intereses</label>
	          <div class="form-section-col">
	            <div>
	              <input type="checkbox" id="electro" name="categoria" value="electro"/>
	              <label for="electro">Electro</label>
	            </div>
	            <div>
	              <input type="checkbox" id="moda" name="categoria" value="moda" />
	              <label for="moda">Moda</label>
	            </div>
	            <div>
	              <input type="checkbox" id="hogar" name="categoria" value="hogar"/>
	              <label for="hogar">Hogar</label>
	            </div>
	            <div>
	              <input type="checkbox" id="jugueteria" name="categoria" value="jugueteria"/>
	              <label for="jugueteria">Juguetería</label>
	            </div>
	            <div>
	              <input type="checkbox" id="vida-sana" name="categoria" value="vida-sana"/>
	              <label for="vida-sana">Vida sana</label>
	            </div>
	          </div>
	          <label class="label-title" for="foto-usuario">Carga tu foto de usuario</label>
	          <input type="file" name="foto-usuario" id="foto-usuario" required />
	          <label class="label-title" for="password">Contraseña</label>
	          <input type="password" name="password" id="password" required />
	          <div class="button-section">
	            <div>
	              <button class="btn-reset" type="reset">Reiniciar</button>
	            </div>
	            <div>
	              <button class="btn-submit" type="submit">Registrarme</button>
	            </div>
	          </div>
	        </form>
	      </section>
	    </main>
	    <footer>
	      <section class="footerContent">
	        <div class="footerItem">
	          <i class="fa-solid fa-credit-card icon"></i>
	          <h3>Pagá con tarjeta o en efectivo</h3>
	          <p class="footerItem-desc">
	            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
	            efectivo en puntos de pago. ¡Y siempre es seguro!
	          </p>
	        </div>
	        <div class="footerItem">
	          <i class="fa-solid fa-gift icon"></i>
	          <h3>Envío gratis desde $ 2.500</h3>
	          <p class="footerItem-desc">
	            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
	            miles de productos. Es un beneficio de Mercado Puntos.
	          </p>
	        </div>
	        <div class="footerItem">
	          <i class="fa-solid fa-user-shield icon"></i>
	          <h3>Seguridad, de principio a fin</h3>
	          <p class="footerItem-desc">
	            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
	            puedas hacer, porque estás siempre protegid@.
	          </p>
	        </div>
	      </section>
	      <h3 class="footerItem-desc">
	        Copyright © 1999-2020 MercadoLiebre S.R.L.
	      </h3>
	    </footer>
	  </body>
	</html>