.form-wrapper {
    width: 100%;
    background-color: #fff;
  }
  .form-wrapper h3 {
    font-weight: 600;
  }
  input::placeholder {
    color: #999;
  }
  input:focus {
    outline: 1px solid #1259c3;
  }
  .form-config {
    margin: 1.5rem;
  }
  .form-config input {
    border: 1px #666 solid;
    margin-top: 1.5rem;
  }
  #foto-usuario {
    border: none;
    margin-top: 1rem;
  }
  #date {
    margin-top: 1rem;
  }
  .form-config .label-title {
    margin-top: 5%;
    display: block;
    font-weight: 600;
  }
  .form-section-row {
    margin: 1rem;
    display: flex;
    align-items: center;
  }
  .form-section-row input {
    margin: auto;
  }
  .form-section-col {
    margin: 1rem;
    display: flex;
    flex-direction: column;
  }
  .form-section-col div {
    margin-top: 0.2rem;
    display: flex;
    align-items: center;
  }
  .form-section-col div input {
    width: auto;
    margin: 0 0.5rem;
  }
  .button-section {
    display: flex;
    width: 100%;
    gap: 1rem;
  }
  .button-section div {
    display: flex;
    justify-content: center;
    width: 50%;
  }
  button {
    border: none;
    margin-top: 1.5rem;
    padding: 0.5rem 1.2rem;
    border-radius: 0.3rem;
    width: 100%;
    color: white;
    cursor: pointer;
  }
  .btn-submit {
    background-color: #1259c3;
    transition: 1500ms;
  }
  .btn-submit:hover {
    background-color: #0022aa;
  }
  .btn-reset {
    background-color: #ff5252;
    transition: 500ms;
  }
  .btn-reset:hover {
    background-color: #ca3636;
  }
  .form-config a {
    display: block;
    margin-top: 1.5rem;
    color: #1259c3;
    font-weight: 600;
    padding: 0.5rem 1.2rem;
    text-align: center;
    border-radius: 0.3rem;
    transition: 500ms;
  }
  .form-config a:hover {
    background-color: rgba(52, 131, 250, 0.1);
  }
  .feedback {
    color: #ff5252;
    margin: 0.5rem;
    font-size: 0.8rem;
  }
  .feedback p i {
    margin-right: 0.5rem;
  }
  @media (min-width: 700px) {
    .form-wrapper {
      width: 80%;
      margin: 1.5rem;
      border-radius: 0.5rem;
    }
  }
  @media (min-width: 800px) {
    .form-wrapper {
      width: 50%;
    }
  }
  @media (min-width: 1000px) {
    .form-wrapper {
      width: 30%;
    }
  }